<div class="row">
  <div class="col-md-3">
    <ul *ngFor="let t of categorys">
      <li>
        <i class="glyphicon glyphicon-chevron-down"></i>{{t.name}}
      </li>
      <li *ngFor="let c of t.childs"><a>{{c.name}}</a></li>
    </ul>
  </div>
  <div class="col-md-9">
    <ul>
      <li *ngFor="let s of mails;let i=index;">
        <div class="avatar">
          <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="mails">
          <h3>{{mails[i].userName}}</h3>
          <p>{{s.subject}}</p>
          <p>{{s.content}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
