<div class="row">
  <div class="col-md-3 listassignment2">

      <i class="glyphicon glyphicon-th-list"></i>To Do

    <div class="task">
    <h5>Task4</h5>
    <p>day la noi dung</p>
  </div>
  <div class="task">
      <h5>Task4</h5>
      <p>day la noi dung</p>
    </div>
  <div class="task">
      <h5>Task4</h5>
      <p>day la noi dung</p>
    </div>
  <div class="task">
      <h5>Task4</h5>
      <p>day la noi dung</p>
    </div>

  </div><div class="col-md-3 listassignment2">

      <i class="glyphicon glyphicon-th-list"></i>To Do

    <div class="task">
    <h5>Task4</h5>
    <p>day la noi dung</p>
  </div>
  <div class="task">
      <h5>Task4</h5>
      <p>day la noi dung</p>
    </div>
  <div class="task">
      <h5>Task4</h5>
      <p>day la noi dung</p>
    </div>
  <div class="task">
      <h5>Task4</h5>
      <p>day la noi dung</p>
    </div>

  </div><div class="col-md-3 listassignment2">

      <i class="glyphicon glyphicon-th-list"></i>To Do

    <div class="task">
    <h5>Task4</h5>
    <p>day la noi dung</p>
  </div>
  <div class="task">
      <h5>Task4</h5>
      <p>day la noi dung</p>
    </div>
  <div class="task">
      <h5>Task4</h5>
      <p>day la noi dung</p>
    </div>
  <div class="task">
      <h5>Task4</h5>
      <p>day la noi dung</p>
    </div>

  </div><div class="col-md-3 listassignment2">
  <div class="list">
      <i class="glyphicon glyphicon-th-list"></i>To Do
  </div>
  <div class="listtask">
    <div class="task">
    <h5>Task4</h5>
    <p>day la noi dung</p>
  </div>
  <div class="task">
      <h5>Task4</h5>
      <p>day la noi dung</p>
    </div>
  <div class="task">
      <h5>Task4</h5>
      <p>day la noi dung</p>
    </div>
  <div class="task">
      <h5>Task4</h5>
      <p>day la noi dung</p>
    </div>
  </div>
  </div>
</div>
